{% extends "base_logout.html" %}
{% load static %}
{% block title %}You have logged out of Jeff's Football Draft App{% endblock %}


{% block mainContent %}
    <div class='container'>
        <div id="row" style="float:left;">
            <!--<img style="border-radius:1px;height:60px; width:60px;" src="{% static 'assets/images/imginforlogo.png' %}"/>-->
        </div>
        <div class='row'><h1>You have logged out of Jeff's Football Draft App.</h1></div>
        <div class='row'><h3><a href="http://jpartyka.pythonanywhere.com">Log Back In</a></h3></div>


    </div>
{% endblock %}
