{% extends "backendBase.html" %}

{% load static %}

{%block mainContent%}
	<div class="container" style="border:1px solid #C0C0C0;">
          {% csrf_token %}
		<div class='row' style='text-align:center;'>
            <div style="float:left;">

			</div>
			<h1>{{ welcome_message }}</h1></div><br>

            <style>
                #id_csv_file {
                    width: 400px;
                    size: 400px;
                }

                #id_list_of_files {
                    width: 400px;
                    size: 400px;
                    height: 20px;
                    -webkit-appearance: none;
    				-moz-appearance: none;
    				text-indent: 1px;
    				text-overflow: '';
                }

                * { box-sizing: border-box; }

                .autocomplete {
                  /*the container must be positioned relative:*/
                  position: relative;
                  display: inline-block;
                }
                #player_search_text {
                  border: 1px solid transparent;
                  background-color: #f1f1f1;
                  padding: 10px;
                  font-size: 16px;
                }
                .autocomplete-items {
                  position: absolute;
                  border: 1px solid #d4d4d4;
                  border-bottom: none;
                  border-top: none;
                  z-index: 99;
                  /*position the autocomplete items to be the same width as the container:*/
                  top: 100%;
                  left: 0;
                  right: 0;
                }
                .autocomplete-items div {
                  padding: 10px;
                  cursor: pointer;
                  background-color: #eeeeee;
                  border-bottom: 1px solid #d4d4d4;
                }
                .autocomplete-items div:hover {
                  /*when hovering an item:*/
                  background-color: #e9e9e9;
                }
                .autocomplete-active {
                  /*when navigating through the items using the arrow keys:*/
                  background-color: DodgerBlue !important;
                  color: #ffffff;
                }

            </style>


<div id="IEWarningSpan" style="text-align:center; font-weight:bold; background-color: #ffff99; color:#cc0000;"></div>


<table border='0' width='100%' style="font-weight:bold;font-size: 18px;">
    <tr>
        <td width='33%'>Select Round</td>
        <td width='33%'>Player Search</td>
        <td width='33%'>Select Year</td>
        <td></td>

    </tr>
    <tr>
        <td width='15%'>
            <select id="round_select" name="roundSelect">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
        </td>
        <td width='40%'>
            <form name='search_form' autocomplete='off'>
                <div class="autocomplete">
                    <input id="player_search_text" type="text" name="player_search_text" placeholder="Search Player" style="width:300px;">
                </div>
            </form>
        </td>
        <td width='45%'>
            <form name="year_submit_form" action="{% url 'index' %}" method="post">

                <select id="year_select" name="year_select">
                    {% for this_year in year_list %}
                        {% ifequal this_year draft_year %}
                            <option value="{{ this_year }}" selected>{{ this_year }}</option>
                        {% else %}
                            <option value="{{ this_year }}">{{ this_year }}</option>
                        {% endifequal %}
                    {% endfor %}
                </select>

                <input type="submit" id="year_change_button" name="year_change_button" value="Show Year Picks" style="font-size: 14px; font-weight:normal; width:150px; float:right; margin-right: 75px;" />

            </form>
        </td>
    </tr>


</table>

<br>
<div id="form_div" style="width:400px;">
<form name="roundForm" action="{% url 'post_draft_pick' %}" method="post">
    {% csrf_token %}
    {{ rounds_html | safe }}
    <input id='user_name_field' type='hidden' value='{{ user_name }}' />
</form>
</div>


    <script language="Javascript">

      $(".pick_field").change(function() {

            var user_name = $("#user_name_field").val()

            if (user_name != 'jpartyka') {
	            var field_text = $(this).val()
	            if (field_text.length > 0) {
	                alert("You are not allowed to enter text")
	                $(this).val("")
	            }
            }

        });

       $("#round_select").change(function() {

           var anchor_destination = "round_" + $(this).val().toString()
           var element_to_scroll_to = document.getElementById("#anchor_" + anchor_destination);
           element_to_scroll_to.scrollIntoView();


        });

        $(".submit_picks_button").click(function() {

           var button_id = $(this).attr('id')
           var roundStr = button_id.split("_")[2]

           var pick_dict = {}

	       $("#table_round_" + roundStr + " tr td input[type=text]").each(function() {

	            //get the study part ids
	            var field_id = $(this).attr("id")

                var field_value = $(this).val()
                if (field_value.length > 0) {
    	            pick_dict[field_id] = field_value
	            }

           })

           var year_select_value = $("#year_select").val()

		   var formData = new FormData()
		   formData.append("year_select_value", year_select_value)
		   formData.append("pick_dict_map", JSON.stringify(pick_dict))

		    $.ajax({

		        type: "POST",
		        url: "/testapp/post_draft_pick/",
		        data: formData,
		        processData: false,
		        contentType: false,
		        cache: false,
		        success: function(data) {

		            if (data != "0") {
		                alert("Error inserting draft picks into database table")
		                alert(data)
		            } else {

		                //reload the page
		                location.reload();

		            }

		        }
		   })

        });

        //clear all text fields - In Firefox, when submitting a pick, the next text field absorbs the value of the uploaded pick, for some reason
        $("input[type='text']").val('');

        //detect if browser is IE or not
        var ms_ie = false;
        var ua = window.navigator.userAgent;
        var old_ie = ua.indexOf('MSIE ');
        var new_ie = ua.indexOf('Trident/');

        if ((old_ie > -1) || (new_ie > -1)) {
            ms_ie = true;
        }

        if ( ms_ie ) {
            IEspan = document.getElementById("IEWarningSpan")
            IEspan.innerHTML = "You are currently using Internet Explorer. Please use Chrome or Firefox to utilize the full feature set of Voltron."

        }

        timeoutVar = setTimeout(function() { location.reload() },60000);

        var player_dict = {
            {% for key, value in player_dict.items %}
                {% if not forloop.first %}
                     ,
                {% endif %}
                '{{ key }}':'{{ value }}'
            {% endfor %}
            }


        //Need this function to unescape HTML entities in Javascript properly
        //http://css-tricks.com/snippets/javascript/unescape-html-in-js/

        function htmlDecode(input){
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }

        function autocomplete(inp, player_dict) {
              /*the autocomplete function takes two arguments,
              the text field element and an array of possible autocompleted values:*/
              var currentFocus;
              /*execute a function when someone writes in the text field:*/
              inp.addEventListener("input", function(e) {
                  var a, b, i, val = this.value;
                  /*close any already open lists of autocompleted values*/
                  closeAllLists();
                  if (!val) { return false;}
                  currentFocus = -1;
                  /*create a DIV element that will contain the items (values):*/
                  a = document.createElement("DIV");
                  a.setAttribute("id", this.id + "autocomplete-list");
                  a.setAttribute("class", "autocomplete-items");
                  /*append the DIV element as a child of the autocomplete container:*/
                  this.parentNode.appendChild(a);
                  /*for each item in ...*/
                  console.clear()
                  for (var player_key in player_dict) {

                    var last_name_str = player_key.split(" ")[1]

                    if (player_dict[player_key] == 'Y') {
                        continue
                    }

                    if (last_name_str.substr(0, val.length) == val.toUpperCase()) {
                       console.log("Last name found: " + last_name_str)
                    }


                    /*check if the item starts with the same letters as the text field value:*/
                    if (player_key.substr(0, val.length).toUpperCase() == val.toUpperCase() || last_name_str.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                      console.log("In if statement...")

                      /*create a DIV element for each matching element:*/
                      b = document.createElement("DIV");
                      /*make the matching letters bold:*/
                      b.innerHTML = "<strong>" + player_key.substr(0, val.length) + "</strong>";
                      b.innerHTML += player_key.substr(val.length);
                      /*insert a input field that will hold the current array item's value:*/
                      b.innerHTML += "<input type='hidden' value='" + player_key + "'>";
                      /*execute a function when someone clicks on the item value (DIV element):*/
                          b.addEventListener("click", function(e) {
                          /*insert the value for the autocomplete text field:*/
                          inp.value = this.getElementsByTagName("input")[0].value;
                          /*close the list of autocompleted values,
                          (or any other open lists of autocompleted values:*/
                          closeAllLists();
                      });
                      a.appendChild(b);
                    }
                  }
              });
              /*execute a function presses a key on the keyboard:*/
              inp.addEventListener("keydown", function(e) {
                  var x = document.getElementById(this.id + "autocomplete-list");
                  if (x) x = x.getElementsByTagName("div");
                  if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                  } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                  } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                      /*and simulate a click on the "active" item:*/
                      if (x) x[currentFocus].click();
                    }
                  }
              });
              function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
              }
              function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                  x[i].classList.remove("autocomplete-active");
                }
              }
              function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                  if (elmnt != x[i] && elmnt != inp) {
                  x[i].parentNode.removeChild(x[i]);
                }
              }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        autocomplete(document.getElementById("player_search_text"), player_dict);

   </script>


{% endblock%}
